<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seanlee.manups"
    android:versionCode="6"
    android:versionName="1.4" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
        <activity
            android:name="com.seanlee.manups.activities.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seanlee.manups.activities.GuideActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.seanlee.manups.activities.PushupsActivity"
            android:launchMode="singleTask"
            android:configChanges="locale"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.seanlee.manups.activities.SitupsActivity"
            android:launchMode="singleTask"
            android:configChanges="locale"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.seanlee.manups.activities.RunningActivity"
            android:launchMode="singleTask"
            android:configChanges="locale"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.seanlee.manups.activities.RecordActivity"
            android:launchMode="singleTask"
            android:configChanges="locale"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.seanlee.manups.services.ManupService" >
        </service>
        <service android:name=".services.RunningService" >
        </service>
    </application>

</manifest>